Gust_plots
.DS_Store
.ipynb_checkpoints/
ARM_E13_surface_met.nc
Courtney/ARM_E13_surface_met_new.nc
Rob/MacheneLearningOutputs/
MachineLearningOutputs/
Jenny/login.py
login.pyc
__pycache__/
*.un~
*.py~
